*.pyc
__pycache__/
.env

logs/
authapp/security_logs/
db.sqlite3
mainpage/static/mainpage/images/*.png

activity_rendering/year_input.txt
activity_rendering/input.txt

staticfiles/
project/cpp_server/build/CMakeFiles/*.*/
