{% extends 'base.html' %}
{% load static %}
{% block title %}Developer Info{% endblock %}
{% block content %}
  <h1 class="mb-4">Developer Information</h1>
  <p><strong>Name:</strong> Tim</p>
  <p><strong>Email:</strong> timo@email.com</p>
  <p><strong>GitHub:</strong> <a href="https://github.com/Tim-977" target="_blank">Github</a></p>
  <p><strong>About:</strong> Ending high-school in 4 weeks.</p>
  <p><a href="javascript:void(0)"><strong>Support Me</strong></a></p>
  <a href="{% url 'settings' %}" class="btn btn-secondary mt-3">Back to Settings</a>
{% endblock %}
