/* Hour squares */
.hour-square {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
    text-align: center;
    line-height: 30px;
    background-color: #ddd;
    cursor: pointer;
  }
  
  .hour-square:hover {
    outline: 2px solid #444;
  }
  
  /* The dropdown container */
  #activity-dropdown {
    z-index: 9999; /* So it appears above other elements */
  }
  