{% extends "mainpage/base_month.html" %}
{% load static %}
{% block title %}Month Diary{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'mainpage/css/diary.css' %}">
<div class="vintage-diary">
  <!-- <p class="intro">Daily Diary</p> -->

  {% for d in days_data %}
    <div class="entry">
      <h3>{{ d.date_obj|date:"F d, Y" }}</h3>
      <p>
        <span class="label">Reflection:</span>
        {% if d.self_reflection %}
          {{ d.self_reflection }}
        {% else %}
          I didn’t write down any reflections today.
        {% endif %}
      </p>
      <p>
        <span class="label">Thoughts:</span>
        {% if d.thoughts %}
          {{ d.thoughts }}
        {% else %}
          Nothing particular on my mind.
        {% endif %}
      </p>
    </div>
  {% endfor %}
</div>
{% endblock %}
